# Schema: http://EditorConfig.org
# Docs: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference

# top-most EditorConfig file
root = true

# Don't use tabs for indentation.
[*]
indent_style = space
trim_trailing_whitespace = true
end_of_line = lf

# Code files
[*.{cs,csx,vb,vbx}]
indent_size = 4
insert_final_newline = true
charset = utf-8-bom

# Xml project files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 2

# Xml config files
[*.{props,targets,ruleset,config,nuspec,resx,vsixmanifest,vsct,xml,stylecop}]
indent_size = 2

# JSON files
[*.{json,json5}]
indent_size = 2

# YAML Files
[*.{yml,yaml}]
indent_size = 2

# Shell scripts
[*.sh]
end_of_line = lf

[*.{cmd,bat}]
end_of_line = crlf

# Web Files
[*.{htm,html,js,ts,css,scss,less}]
indent_size = 2
insert_final_newline = true

## Language conventions
# Dotnet code style settings:
[*.{cs,csx,cake,vb}]
# Avoid "this." and "Me." if not necessary
dotnet_style_qualification_for_event = false : warning
dotnet_style_qualification_for_field = false : warning
dotnet_style_qualification_for_method = false : warning
dotnet_style_qualification_for_property = false : warning

# Use language keywords instead of framework type names for type references
dotnet_style_predefined_type_for_locals_parameters_members = true : warning
dotnet_style_predefined_type_for_member_access = true : warning

# Expression-level preferences
dotnet_style_coalesce_expression = true : suggestion
dotnet_style_collection_initializer = true : suggestion
dotnet_style_explicit_tuple_names = true : warning
dotnet_style_null_propagation = true : suggestion
dotnet_style_object_initializer = true : suggestion
dotnet_style_require_accessibility_modifiers = always : warning

dotnet_style_prefer_is_null_check_over_reference_equality_method = true : warning
dotnet_style_readonly_field = true : warning
dotnet_style_prefer_auto_properties = true : suggestion
dotnet_style_prefer_inferred_tuple_names = true : suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = true : suggestion

csharp_using_directive_placement=outside_namespace:suggestion
dotnet_code_quality_unused_parameters=all:warning
csharp_style_namespace_declarations = file_scoped

# CSharp code style settings:
[*.cs]
# Prefer "var" everywhere (Implicit and explicit types)
csharp_style_var_elsewhere = true : suggestion
csharp_style_var_for_built_in_types = true : suggestion
csharp_style_var_when_type_is_apparent = true : warning

# Expression-Bodied members
csharp_style_expression_bodied_accessors = true : suggestion
csharp_style_expression_bodied_indexers = true : suggestion
csharp_style_expression_bodied_operators = true : suggestion
csharp_style_expression_bodied_properties = true : suggestion
# Explicitly disabled due to difference in coding style between source and tests
#csharp_style_expression_bodied_constructors = true : warning
#csharp_style_expression_bodied_methods = true : warning

# Pattern matching
csharp_style_pattern_matching_over_as_with_null_check = true : suggestion
csharp_style_pattern_matching_over_is_with_cast_check = true : suggestion

# Inlined variable declarations
csharp_style_inlined_variable_declaration = true : suggestion

# Expression-level preferences
csharp_prefer_inferred_anonymous_type_member_names = true : warning
csharp_prefer_inferred_tuple_names = true : warning
csharp_prefer_simple_default_expression = true : warning
csharp_preferred_modifier_order = public,private,protected,internal,const,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async
csharp_style_deconstructed_variable_declaration = true : warning
csharp_style_pattern_local_over_anonymous_function = true : warning

# Null-checking preference
csharp_style_conditional_delegate_call = true : warning
csharp_style_throw_expression = true : warning

# Code block preferences
#csharp_prefer_braces = true : suggestion # Disabled because it doesn't support no braces for control flow keywords (return, break, throw)

## Formatting conventions
# Dotnet formatting settings:
[*.{cs,vb}]
# Organize usings
dotnet_sort_system_directives_first = true

# CSharp formatting settings:
[*.cs]
# Newline options
csharp_new_line_before_catch = true
csharp_new_line_before_else = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_open_brace = all
csharp_new_line_between_query_expression_clauses = true

# Identation options
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents = true
csharp_indent_case_contents_when_block = true
csharp_indent_switch_labels = true
csharp_indent_labels = flush_left

# Spacing options
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_around_binary_operators = before_and_after
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_parentheses = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false

# Wrapping options
csharp_preserve_single_line_blocks = true
csharp_preserve_single_line_statements = false

## Naming conventions
[*.{cs,vb}]

# Non-private static fields are PascalCase
dotnet_naming_rule.non_private_static_fields_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.non_private_static_fields_should_be_pascal_case.symbols = non_private_static_fields
dotnet_naming_rule.non_private_static_fields_should_be_pascal_case.style = non_private_static_field_style

dotnet_naming_symbols.non_private_static_fields.applicable_kinds = field
dotnet_naming_symbols.non_private_static_fields.applicable_accessibilities = public, protected, internal, protected internal, private protected
dotnet_naming_symbols.non_private_static_fields.required_modifiers = static

dotnet_naming_style.non_private_static_field_style.capitalization = pascal_case

# Constants are PascalCase
dotnet_naming_rule.constants_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.constants_should_be_pascal_case.symbols = constants
dotnet_naming_rule.constants_should_be_pascal_case.style = constant_style

dotnet_naming_symbols.constants.applicable_kinds = field, local
dotnet_naming_symbols.constants.required_modifiers = const

dotnet_naming_style.constant_style.capitalization = pascal_case

# Public fields are Pascal case
dotnet_naming_symbols.public_fields.applicable_kinds = field
dotnet_naming_symbols.public_fields.applicable_accessibilities = public
dotnet_naming_rule.public_fields_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.public_fields_should_be_pascal_case.symbols = public_fields
dotnet_naming_rule.public_fields_should_be_pascal_case.style = pascal_case

# Static fields are camelCase and start with s_
dotnet_naming_rule.static_fields_should_be_camel_case.severity = suggestion
dotnet_naming_rule.static_fields_should_be_camel_case.symbols = static_fields
dotnet_naming_rule.static_fields_should_be_camel_case.style = static_field_style
dotnet_naming_symbols.static_fields.applicable_kinds = field
dotnet_naming_symbols.static_fields.required_modifiers = static
dotnet_naming_style.static_field_style.capitalization = camel_case
dotnet_naming_style.static_field_style.required_prefix = s_

# Instance fields are camelCase and start with _
dotnet_naming_rule.camel_case_for_private_internal_fields.severity = suggestion
dotnet_naming_rule.camel_case_for_private_internal_fields.symbols  = private_internal_fields
dotnet_naming_rule.camel_case_for_private_internal_fields.style    = camel_case_underscore_style
dotnet_naming_symbols.private_internal_fields.applicable_kinds = field
dotnet_naming_symbols.private_internal_fields.applicable_accessibilities = private, internal
dotnet_naming_style.camel_case_underscore_style.required_prefix = _
dotnet_naming_style.camel_case_underscore_style.capitalization = camel_case

# Locals and parameters are camelCase
dotnet_naming_rule.locals_should_be_camel_case.severity = suggestion
dotnet_naming_rule.locals_should_be_camel_case.symbols = locals_and_parameters
dotnet_naming_rule.locals_should_be_camel_case.style = camel_case_style

dotnet_naming_symbols.locals_and_parameters.applicable_kinds = parameter, local
dotnet_naming_style.camel_case_style.capitalization = camel_case

# Local functions are PascalCase
dotnet_naming_rule.local_functions_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.local_functions_should_be_pascal_case.symbols = local_functions
dotnet_naming_rule.local_functions_should_be_pascal_case.style = local_function_style

dotnet_naming_symbols.local_functions.applicable_kinds = local_function
dotnet_naming_style.local_function_style.capitalization = pascal_case

# Type Parameters
dotnet_naming_style.type_parameter_style.capitalization = pascal_case
dotnet_naming_style.type_parameter_style.required_prefix = T

dotnet_naming_rule.type_parameter_naming.symbols = type_parameter_symbol
dotnet_naming_rule.type_parameter_naming.style = type_parameter_style
dotnet_naming_rule.type_parameter_naming.severity = warning
dotnet_naming_symbols.type_parameter_symbol.applicable_kinds = type_parameter
dotnet_naming_symbols.type_parameter_symbol.applicable_accessibilities = *

# By default, name items with PascalCase
dotnet_naming_rule.members_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.members_should_be_pascal_case.symbols = all_members
dotnet_naming_rule.members_should_be_pascal_case.style = pascal_case_style

dotnet_naming_symbols.all_members.applicable_kinds = *

dotnet_naming_style.pascal_case_style.capitalization = pascal_case

## Analyzers
dotnet_diagnostic.IDE0001.severity = suggestion
dotnet_diagnostic.IDE0002.severity = suggestion
dotnet_diagnostic.IDE0004.severity = suggestion
dotnet_diagnostic.IDE0005.severity = suggestion
dotnet_diagnostic.IDE0035.severity = warning
dotnet_diagnostic.IDE0051.severity = warning
dotnet_diagnostic.IDE0059.severity = warning
dotnet_diagnostic.IDE1006.severity = suggestion

dotnet_code_quality.copy_analysis = true
dotnet_diagnostic.CA1000.severity = warning
dotnet_diagnostic.CA1001.severity = warning
dotnet_diagnostic.CA1008.severity = none
dotnet_diagnostic.CA1014.severity = none
dotnet_diagnostic.CA1018.severity = warning
dotnet_diagnostic.CA1019.severity = warning
dotnet_diagnostic.CA1028.severity = none
dotnet_diagnostic.CA1030.severity = none
dotnet_diagnostic.CA1031.severity = none
dotnet_diagnostic.CA1033.severity = none
dotnet_diagnostic.CA1034.severity = none
dotnet_diagnostic.CA1036.severity = warning
dotnet_diagnostic.CA1043.severity = none
dotnet_diagnostic.CA1054.severity = none
dotnet_diagnostic.CA1055.severity = none
dotnet_diagnostic.CA1056.severity = none
dotnet_diagnostic.CA1062.severity = none
dotnet_diagnostic.CA1065.severity = none
dotnet_diagnostic.CA1067.severity = warning
dotnet_diagnostic.CA1068.severity = warning
dotnet_diagnostic.CA1303.severity = none
dotnet_diagnostic.CA1304.severity = warning
dotnet_diagnostic.CA1305.severity = warning
dotnet_diagnostic.CA1307.severity = warning
dotnet_diagnostic.CA1308.severity = warning
dotnet_diagnostic.CA1309.severity = warning
dotnet_diagnostic.CA1310.severity = warning
dotnet_diagnostic.CA1401.severity = warning
dotnet_diagnostic.CA1416.severity = warning
dotnet_diagnostic.CA1417.severity = warning
dotnet_diagnostic.CA1508.severity = none
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA1708.severity = warning
dotnet_diagnostic.CA1710.severity = none
dotnet_diagnostic.CA1711.severity = none
dotnet_diagnostic.CA1712.severity = none
dotnet_diagnostic.CA1716.severity = none
dotnet_diagnostic.CA1721.severity = none
dotnet_diagnostic.CA1724.severity = warning
dotnet_diagnostic.CA1805.severity = warning
dotnet_diagnostic.CA1806.severity = warning
dotnet_diagnostic.CA1813.severity = warning
dotnet_diagnostic.CA1815.severity = none
dotnet_diagnostic.CA1821.severity = warning
dotnet_diagnostic.CA1825.severity = warning
dotnet_diagnostic.CA1826.severity = warning
dotnet_diagnostic.CA1827.severity = warning
dotnet_diagnostic.CA1828.severity = warning
dotnet_diagnostic.CA1829.severity = warning
dotnet_diagnostic.CA1830.severity = warning
dotnet_diagnostic.CA1831.severity = warning
dotnet_diagnostic.CA1832.severity = warning
dotnet_diagnostic.CA1833.severity = warning
dotnet_diagnostic.CA1834.severity = warning
dotnet_diagnostic.CA1835.severity = warning
dotnet_diagnostic.CA1836.severity = warning
dotnet_diagnostic.CA1837.severity = warning
dotnet_diagnostic.CA1838.severity = warning
dotnet_diagnostic.CA2000.severity = none
dotnet_diagnostic.CA2002.severity = warning
dotnet_diagnostic.CA2007.severity = none
dotnet_diagnostic.CA2009.severity = warning
dotnet_diagnostic.CA2012.severity = warning
dotnet_diagnostic.CA2013.severity = warning
dotnet_diagnostic.CA2014.severity = warning
dotnet_diagnostic.CA2015.severity = warning
dotnet_diagnostic.CA2016.severity = warning
dotnet_diagnostic.CA2101.severity = warning
dotnet_diagnostic.CA2119.severity = warning
dotnet_diagnostic.CA2200.severity = warning
dotnet_diagnostic.CA2201.severity = warning
dotnet_diagnostic.CA2208.severity = warning
dotnet_diagnostic.CA2215.severity = warning
dotnet_diagnostic.CA2217.severity = warning
dotnet_diagnostic.CA2219.severity = warning
dotnet_diagnostic.CA2225.severity = none
dotnet_diagnostic.CA2226.severity = warning
dotnet_diagnostic.CA2227.severity = none
dotnet_diagnostic.CA2226.severity = warning
dotnet_diagnostic.CA2242.severity = warning
dotnet_diagnostic.CA2243.severity = warning
dotnet_diagnostic.CA2244.severity = warning
dotnet_diagnostic.CA2245.severity = warning
dotnet_diagnostic.CA2246.severity = warning
dotnet_diagnostic.CA2247.severity = warning
dotnet_diagnostic.CA2248.severity = warning
dotnet_diagnostic.CA2249.severity = warning
dotnet_diagnostic.CA2300.severity = warning
dotnet_diagnostic.CA2301.severity = warning
dotnet_diagnostic.CA2302.severity = warning
dotnet_diagnostic.CA2305.severity = warning
dotnet_diagnostic.CA2310.severity = warning
dotnet_diagnostic.CA2311.severity = warning
dotnet_diagnostic.CA2312.severity = warning
dotnet_diagnostic.CA2315.severity = warning
dotnet_diagnostic.CA2321.severity = warning
dotnet_diagnostic.CA2322.severity = warning
dotnet_diagnostic.CA2326.severity = warning
dotnet_diagnostic.CA2327.severity = warning
dotnet_diagnostic.CA2328.severity = warning
dotnet_diagnostic.CA2329.severity = warning
dotnet_diagnostic.CA2330.severity = warning
dotnet_diagnostic.CA2350.severity = warning
dotnet_diagnostic.CA2351.severity = warning
dotnet_diagnostic.CA2352.severity = warning
dotnet_diagnostic.CA2353.severity = warning
dotnet_diagnostic.CA2354.severity = warning
dotnet_diagnostic.CA2355.severity = warning
dotnet_diagnostic.CA2356.severity = warning
dotnet_diagnostic.CA2361.severity = warning
dotnet_diagnostic.CA2362.severity = warning
dotnet_diagnostic.CA3075.severity = warning
dotnet_diagnostic.CA3076.severity = warning
dotnet_diagnostic.CA5350.severity = warning
dotnet_diagnostic.CA5351.severity = warning
dotnet_diagnostic.CA5359.severity = warning
dotnet_diagnostic.CA5360.severity = warning
dotnet_diagnostic.CA5361.severity = warning
dotnet_diagnostic.CA5362.severity = warning
dotnet_diagnostic.CA5363.severity = warning
dotnet_diagnostic.CA5364.severity = warning
dotnet_diagnostic.CA5365.severity = warning
dotnet_diagnostic.CA5366.severity = warning
dotnet_diagnostic.CA5367.severity = warning
dotnet_diagnostic.CA5368.severity = warning
dotnet_diagnostic.CA5369.severity = warning
dotnet_diagnostic.CA5370.severity = warning
dotnet_diagnostic.CA5371.severity = warning
dotnet_diagnostic.CA5372.severity = warning
dotnet_diagnostic.CA5373.severity = warning
dotnet_diagnostic.CA5374.severity = warning
dotnet_diagnostic.CA5375.severity = warning
dotnet_diagnostic.CA5376.severity = warning
dotnet_diagnostic.CA5377.severity = warning
dotnet_diagnostic.CA5378.severity = warning
dotnet_diagnostic.CA5379.severity = warning
dotnet_diagnostic.CA5380.severity = warning
dotnet_diagnostic.CA5381.severity = warning
dotnet_diagnostic.CA5382.severity = warning
dotnet_diagnostic.CA5383.severity = warning
dotnet_diagnostic.CA5384.severity = warning
dotnet_diagnostic.CA5385.severity = warning
dotnet_diagnostic.CA5386.severity = warning
dotnet_diagnostic.CA5387.severity = warning
dotnet_diagnostic.CA5388.severity = warning
dotnet_diagnostic.CA5389.severity = warning
dotnet_diagnostic.CA5390.severity = warning
dotnet_diagnostic.CA5392.severity = none
dotnet_diagnostic.CA5394.severity = none
dotnet_diagnostic.CA5397.severity = warning
dotnet_diagnostic.CA5398.severity = warning
dotnet_diagnostic.CA5399.severity = warning
dotnet_diagnostic.CA5400.severity = warning
dotnet_diagnostic.CA5401.severity = warning
dotnet_diagnostic.CA5402.severity = warning
dotnet_diagnostic.CA5403.severity = warning

dotnet_diagnostic.MA0001.severity = warning    
dotnet_diagnostic.MA0002.severity = warning    
dotnet_diagnostic.MA0003.severity = suggestion 
dotnet_diagnostic.MA0004.severity = warning    
dotnet_diagnostic.MA0005.severity = warning    
dotnet_diagnostic.MA0006.severity = none       
dotnet_diagnostic.MA0007.severity = suggestion 
dotnet_diagnostic.MA0008.severity = warning    
dotnet_diagnostic.MA0009.severity = warning    
dotnet_diagnostic.MA0010.severity = warning    
dotnet_diagnostic.MA0011.severity = warning    
dotnet_diagnostic.MA0012.severity = warning    
dotnet_diagnostic.MA0013.severity = warning    
dotnet_diagnostic.MA0014.severity = warning    
dotnet_diagnostic.MA0015.severity = warning    
dotnet_diagnostic.MA0016.severity = warning    
dotnet_diagnostic.MA0017.severity = warning    
dotnet_diagnostic.MA0018.severity = warning    
dotnet_diagnostic.MA0019.severity = warning    
dotnet_diagnostic.MA0020.severity = suggestion 
dotnet_diagnostic.MA0021.severity = warning    
dotnet_diagnostic.MA0022.severity = warning    
dotnet_diagnostic.MA0023.severity = warning    
dotnet_diagnostic.MA0024.severity = warning    
dotnet_diagnostic.MA0025.severity = warning    
dotnet_diagnostic.MA0026.severity = warning    
dotnet_diagnostic.MA0027.severity = warning    
dotnet_diagnostic.MA0028.severity = suggestion 
dotnet_diagnostic.MA0029.severity = suggestion 
dotnet_diagnostic.MA0030.severity = suggestion 
dotnet_diagnostic.MA0031.severity = suggestion 
dotnet_diagnostic.MA0032.severity = suggestion 
dotnet_diagnostic.MA0033.severity = warning    
dotnet_diagnostic.MA0035.severity = warning    
dotnet_diagnostic.MA0036.severity = suggestion 
dotnet_diagnostic.MA0037.severity = error      
dotnet_diagnostic.MA0038.severity = suggestion 
dotnet_diagnostic.MA0039.severity = error      
dotnet_diagnostic.MA0040.severity = suggestion 
dotnet_diagnostic.MA0041.severity = suggestion 
dotnet_diagnostic.MA0042.severity = suggestion 
dotnet_diagnostic.MA0043.severity = suggestion 
dotnet_diagnostic.MA0044.severity = suggestion 
dotnet_diagnostic.MA0045.severity = none       
dotnet_diagnostic.MA0046.severity = warning    
dotnet_diagnostic.MA0047.severity = warning    
dotnet_diagnostic.MA0048.severity = warning    
dotnet_diagnostic.MA0049.severity = error      
dotnet_diagnostic.MA0050.severity = suggestion 
dotnet_diagnostic.MA0051.severity = none       
dotnet_diagnostic.MA0052.severity = suggestion 
dotnet_diagnostic.MA0053.severity = suggestion 
dotnet_diagnostic.MA0054.severity = warning    
dotnet_diagnostic.MA0055.severity = warning    
dotnet_diagnostic.MA0056.severity = warning    
dotnet_diagnostic.MA0057.severity = suggestion 
dotnet_diagnostic.MA0058.severity = suggestion 
dotnet_diagnostic.MA0059.severity = suggestion 
dotnet_diagnostic.MA0060.severity = warning    
dotnet_diagnostic.MA0061.severity = warning    
dotnet_diagnostic.MA0062.severity = none       
dotnet_diagnostic.MA0063.severity = suggestion 
dotnet_diagnostic.MA0064.severity = warning    
dotnet_diagnostic.MA0065.severity = warning    
dotnet_diagnostic.MA0066.severity = warning    
dotnet_diagnostic.MA0067.severity = suggestion 
dotnet_diagnostic.MA0068.severity = warning    
dotnet_diagnostic.MA0069.severity = warning    
dotnet_diagnostic.MA0070.severity = warning    
dotnet_diagnostic.MA0071.severity = none       
dotnet_diagnostic.MA0072.severity = warning    
dotnet_diagnostic.MA0073.severity = suggestion 
dotnet_diagnostic.MA0074.severity = warning    
dotnet_diagnostic.MA0075.severity = suggestion 
dotnet_diagnostic.MA0076.severity = suggestion 
dotnet_diagnostic.MA0077.severity = warning    
dotnet_diagnostic.MA0078.severity = suggestion 
dotnet_diagnostic.MA0079.severity = suggestion 
dotnet_diagnostic.MA0080.severity = suggestion 
dotnet_diagnostic.MA0081.severity = warning    
dotnet_diagnostic.MA0082.severity = warning    
dotnet_diagnostic.MA0083.severity = warning    
dotnet_diagnostic.MA0084.severity = warning    
dotnet_diagnostic.MA0085.severity = warning    
dotnet_diagnostic.MA0086.severity = warning    
dotnet_diagnostic.MA0087.severity = warning    
dotnet_diagnostic.MA0088.severity = warning    
dotnet_diagnostic.MA0089.severity = suggestion 
dotnet_diagnostic.MA0090.severity = suggestion 
dotnet_diagnostic.MA0091.severity = warning    
dotnet_diagnostic.MA0092.severity = warning    
dotnet_diagnostic.MA0093.severity = warning    
dotnet_diagnostic.MA0094.severity = warning    
dotnet_diagnostic.MA0095.severity = warning    
dotnet_diagnostic.MA0096.severity = warning    
dotnet_diagnostic.MA0097.severity = warning    
dotnet_diagnostic.MA0098.severity = suggestion 
MA0051.maximum_statements_per_method = 0
MA0051.skip_local_functions = false
MA0051.maximum_lines_per_method = 0
MA0053.public_class_should_be_sealed = false

# Relase tracking
dotnet_diagnostic.RS2008.severity = none
